  @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background: linear-gradient(to right, #0099f7, #f11712); 
   font-family: Orbitron;
   text-align: center; /* To center everything on the page */
}

header {
    background: white;
    padding: 20px; /* Create room on top and below */
}

header > h1 {
    color: #303027;
    font-size: 70px;
}

.scoreboard {
    border: 5px solid #303027;
    border-radius: 10%; /* To make it more round */
    background: white;
    width: 200px; /* So that it doesn't stretch to whole page just small box*/
    margin: 20px auto; /* Margin is space between border and next elemnt, auto centers it*/
    color: #303027;
    font-size: 65px;
    padding: 15px 20px; /* Padding is the space inside the element between element and border*/
    position: relative;
}



.badge { /* Both labels (user and computer) share same class of badge */
    background: rgb(190, 37, 37);
    border: 2px solid #303027;
    border-radius: 10%;
    color: white;
    font-size: 24px;
    padding: 7px 7px;


}

#user-label {
    position: absolute; /* Then I made parent element .scoreboard relative*/ 
    top: 25%;
    left: -50px;
    
}

#computer-label {
    position: absolute;  /* Then I made parent element .scoreboard relative*/ 
    top: 25%;
    right: -50px;

}

.result {
    font-size: 50px;
    color: white;
}

.choices {
    display: flex; /* To display flex */
    justify-content: center;; /* Centers flex container */
    margin: 50px 0;
}

.choice {
    border: 4px solid white;
    border-radius: 95%;
    padding: 50px;
    margin: 0 30px;
}

.choice:hover {
    cursor: pointer; /* Changed the cursor to pointer */
}

#r {
    background: linear-gradient(to right, #f12711, #f5af19); 
    
}

#r:hover { /* The color it changes to when a user hovers over it*/
    background: white;
    transition: all 0.3s ease; /* Ease into colour transition of white */ 
}

#p {
    background: linear-gradient(to right, #141e30, #243b55);

}

#p:hover { /* The color it changes to when a user hovers over it*/
    background: white;
    transition: all 0.3s ease; /* Ease into colour transition of white */ 
}


#s {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

}

#s:hover { /* The color it changes to when a user hovers over it*/
    background: white;
    transition: all 0.3s ease; /* Ease into colour transition of white */ 
}

#action-message {
    font-size: 50px;
    color: white;
}

img { /* This was to make the img circular*/
    border-radius: 50%;
    padding: 0px;
 
}